html {
	background-color: var(--color-neutral-50);
	color: var(--color-neutral-800);
}

:focus-visible {
	outline: max(2px, 0.15em) solid currentColor;
	outline-offset: max(2px, 0.15em);
}

:any-link {
	color: var(--color-link);

	&:hover {
		text-decoration-line: none;
	}
}
