.l-sidebar {
	display: flex;
	flex-wrap: wrap;
	gap: var(--c-gap, var(--space-s));
	align-items: start;

	&.\$align\:start {
		align-items: start;
	}

	&.\$align\:center {
		align-items: center;
	}

	&.\$align\:end {
		align-items: end;
	}

	&.\$align\:stretch {
		align-items: stretch;
	}

	&.\$wrap\:false {
		flex-wrap: nowrap;
	}
}

.l-sidebar > :first-child {
	flex-grow: 1;
	flex-basis: var(--c-content-width, content);
}

.l-sidebar > :first-child + * {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 50%;
}
